.home__container{
    height: calc(100vh - 110px);
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__container, .blogs__container{
    margin-top: 2rem;
}