.sine-nomine{
    font-family: 'Great Vibes';
    font-size: 1.3rem;
}
.home__container{
    height: calc(100vh - 110px);
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home__title{
    font-family: 'Great Vibes';
    font-size: 3.9rem;
}
.home__slogan{
    font-family: 'Indie Flower';
    font-size: 1.5rem;
}

.about__container, .blogs__container, .contact__container,.thanks__container{
    margin-top: 2rem;
}
.contact__title, .about__title, .blogs__title, .thanks__title{
    font-family: 'Indie Flower';
    font-weight: bold;
    font-size: 2rem;
}

.contact__container{
    text-align: center
}
.contact__form__label{
    display: block;
    margin: 1rem;
    font-family: 'Work Sans';
       font-size: 1.5rem;
    
}
.contact__form__input, .contact__form__textarea{
    display: block;
    width: 290px;
    margin: 1rem auto;
    border: 1.5px solid grey;
    font-family: 'Work Sans';
    font-size: 1.5rem;
}
.contact__form__textarea{
    height: 200px;
}
.contact__form__button{
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    font-family: 'Work Sans';
    border: 1.5px solid grey;
}

